
body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}
.pageMain {
  height: calc(100vh - 150px); /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrollbar when content exceeds the height */
  background-color: #fff;
}

h1,h2,p,ul,li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.nav{
  background-color: #111;
  padding: 0;
}
.nav li  {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.aLink{
  text-decoration: none;
  color: inherit;
}